{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main" class="container" role="main">
	<!-- ======= Breadcrumbs ======= -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'app:home' %}">Accueil</a></li>
			<li class="breadcrumb-item active" aria-current="page">
				<a>{{ product.designation }}</a>
			</li>
		</ol>
	</nav>
	<!-- End Breadcrumbs -->

	<section class="inner-page">
		<div class="container">
			<br><br>
			<div class="container">
				<div class="col-lg-10">
					<div class="card mb-4">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Désignation</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">
										{{ product.designation }}
									</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Description du produit</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{ product.description }}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Qunatité restante</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{ product.stock }}</p>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<p class="mb-0">Prix unitaire</p>
								</div>
								<div class="col-sm-9">
									<p class="text-muted mb-0">{{ product.price }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br><br><br><br>
			</div>
	</section>
</main>
<!-- End #main -->

{% endblock %}
{% block jscontent %}
{% endblock jscontent %}